html {
  height:100%;
  font-size:100%;
}

body{
    background: #F8B195; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* Standard syntax */
    height:100%;
    margin:0;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin-bottom:1em;
}

/* Side bar */

.side-bar {
  background-color: white;
  float:left;
  position: fixed;
  width: 20%;
  top: 0px;
  height: 100%;
  border-style:none;
  z-index: 1;
}

.side-bar h1{
  font-size:1.5em;
  letter-spacing: 0.3em;
  color:#355C7D;
  font-weight:400;
  background-color:transparent;
  display:block;
  padding:3rem 1rem 3rem 1.5rem;
  margin: 0;
  text-align:left;
  box-sizing:border-box;
  width:100%;
}

.side-bar h3{
  width:85%;
  font-weight:300;
  font-size:1.2em;
  display:inline-block;
  float:left;
  margin:1rem 0 0.5rem 1.5rem;
  background-color:transparent;
  color:#355C7D;
}

/* New Room Button */
.button-wrapper{
  width:100%;
  display:block;
  height:2.5rem;

}
.new-room-button{
  background-color:transparent;
  border-style:none;
  height:2.5em;
  width:70%;
  display:inline;
  margin-left:0.5rem;
  margin-right:1rem;
  float:left;
  vertical-align: middle;
}

.new-room-button p{
  display:inline-block;
  zoom:1;
  color:#355C7D;
  font-weight:300;
  font-size:1.22em;
  vertical-align:middle;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 0;
  width:100%;
}

.new-room-button p:hover{
  color: #F67280;
  text-decoration:underline;
}

/* Logout Button */

.logout{
  width:100%;
  display:block;
  height:2.5rem;
  margin-left:0.5rem;
}

.logout p{
  display:inline-block;
  zoom:1;
  color:#355C7D;
  font-weight:300;
  font-size:1.22em;
  vertical-align:middle;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 0;
  margin-top:1rem;
  width:100%;
}

.logout p:hover{
  color:#F67280;
}

.btn-logoutChat{
  float:right;
  border-style:none;
  width:50%;
  background-color:transparent;
  color:#355C7D;
}

.btn-logoutChat:hover{
  color:#F67280;
}

.btn-cancel{
  display:inline-block;
  float:left;
  border-style:none;
  width:50%;
  background: transparent;
  outline:none;
}

.btn-cancel:hover{
  color:#F67280;
}


/* List of Rooms */
.room-wrapper{
  padding:1rem;
  vertical-align: middle;
  margin:0.5rem;
  height:2rem;
  background-color:transparent;
}

.room-icon {
  display:inline-block;
  border:0.5px solid #355C7D;
  background-color:transparent;
  border-radius:50%;
  width: 1rem;
  height: 1rem;
  margin:1.5rem 0 0.5rem 0;
  float:left;
}

/* Messages */
.messages {
  position: absolute;
  top: 1rem;
  left:27rem;
  float:right;
  width:78%;
  height:100%;
  z-index: 1;
  overflow: scroll;
  /*margin-left: 2rem;*/
  border-style: none;
}

.messages-body{
  padding-left:3rem;
  padding-right:3rem;
  padding-top:1rem;
  padding-bottom:1rem;
  background:transparent;
  width:100%;
}

.messages-header h3{
  margin-left:1rem;
  font-weight:400;
  display:inline-block;
  width:80%;
  color:white;
  background-color: none;
  text-align:left;
  text-decoration: underline;
}

.messages-body .username{
  font-weight:400;
  font-size:1.5rem;
  color:white;
}

.messages-body .timestamp{
  font-weight:300;
  font-style:italic;
  font-size:1rem;
  padding-left:0.5rem;
  float:right;
  color:white;
}

.messages-body .username .timestamp{
  display:inline-block;
}

.messages-body .user-message{
  font-weight:300;
  font-size:2rem;
  color:white;
}

.message-box{
  width:85%;
  margin-left: 3rem;
  margin-right: 1rem;
  margin-bottom:3rem;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid white;
  outline:none;
  background:transparent;
  display:inline-block;
}

.send-message-hr{
  border-top: 1px dashed white;
  width:94%;
}

/* Message Box Placeholder Styling */
::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color:white;
  font-weight: 300;
}

::-moz-placeholder{ /* Firefox 19+ */
  color:white;
  font-weight: 300;
}

:-ms-input-placeholder{ /* IE 10+ */
  color:white;
  font-weight: 300;
}

:-moz-placeholder{/* Firefox 18- */
  color:white;
  font-weight: 300;
}

/* Message Box Send Button */
.btn-new-message{
  font-size:1.2rem;
  font-weight:300;
  letter-spacing: 0.5rem;
  margin-left:0rem;
  outline:none;
  background:transparent;
  color:white;
  border:none;
  padding-left: 0rem;
}

/* Login page*/

.modal-title{
  color:#355C7D;
  font-weight:300;
  text-align: center;
}

.modal-prompt{
  color:#355C7D;
  text-align:center;
}

.modal-body p{
  color:#355C7D;
  font-style:italic;
  font-size:1rem;
  margin:1rem 1rem 0 1rem;
  text-align:center;
  background-color:white;
}

.username-input{
  outline:none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #355C7D;
  width:90%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-footer .login{
  background-color:white;
  border-style:none;
  font-weight:300;
  font-size:1.5rem;
  cursor:pointer;
  width:100%;
  color:#355C7D
}

.modal-footer .login:hover{
  color:#F67280;
}

/* Create new room modal */
.room-name-input{
  outline:none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #355C7D;
  width:90%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom:2rem;
}

.btn-new-room{
  float:right;
  border-style:none;
  width:50%;
  background-color:transparent;
  color:#355C7D
}

.btn-new-room:hover{
  color:#F67280;
}

.btn-cancel{
  float:left;
  border-style:none;
  width:50%;
  background: transparent;
  color:#355C7D;
}

.btn-cancel:hover{
  color:#F67280;
}

/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px){

  }

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 851px){

	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 768px){
  }

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px){

	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px){
    .side-bar{
      display:none;
    }
    .messages{
      margin:0rem;
      left:0rem;
      right:0rem;
      position:relative;
      float:left;
      width:100%;

    }

    .message-box{
      width:95%;
      margin-left:1rem;
      margin-bottom:1rem;
      margin-right:1rem;

    }

    .btn-new-message{
      width:100%;
      margin:0;
      font-size:2rem;
    }

    .btn-new-message:hover{
      border-style:none;
    }

    .send-message-hr{
      display:none;
    }

    ::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
      color:white;
      font-weight: 300;
      font-size:1.5rem;
    }

    ::-moz-placeholder{ /* Firefox 19+ */
      color:white;
      font-weight: 300;
      font-size:1.5rem;
    }

    :-ms-input-placeholder{ /* IE 10+ */
      color:white;
      font-weight: 300;
      font-size:1.5rem;
    }

    :-moz-placeholder{/* Firefox 18- */
      color:white;
      font-weight: 300;
      font-size:1.5rem;
    }



	}
