html {
  height:100%;
  font-size:100%;
}

body{
    background: #F8B195; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B,#355C7D); /* Standard syntax */
    height:100%;
    margin:0;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin-bottom:1em;
}

/* Side bar */

.side-bar {
  background-color: white;
  float:left;
  position: fixed;
  width: 20%;
  top: 0px;
  height: 100%;
  border-right: 0.5px solid #f2f2f2;
  z-index: 1;
}

.side-bar h1{
  font-size:1.5em;
  letter-spacing: 0.5em;
  color:black;
  font-weight:300;
  background-color:white;
  display:block;
  padding:1.5rem 1rem 1.5rem 1rem;
  margin: 0 0 1rem 0;
  text-align:center;
  box-sizing:border-box;
  width:100%;
}

.side-bar h3{
  width:90%;
  font-weight:300;
  font-size:1.2em;
  display:inline-block;
  float:left;
  margin:1rem 0 0.5rem 1rem;
  background-color:white;
}

/* New Room Button */
.button-wrapper{
  width:100%;
  display:block;
  height:2.5rem;
}
.new-room-button{
  background-color:white;
  border-radius: 44px;
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  border: 0.5px solid #000000;
  height:2.5em;
  width:70%;
  display:inline;
  padding-left: 0.5rem;
  margin-left:1rem;
  margin-right:1rem;
  float:left;
  vertical-align: middle;
}

.new-room-button p{
  display:inline-block;
  zoom:1;
  color:black;
  font-weight:300;
  font-size:1.22em;
  vertical-align:middle;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-bottom: 0;
  width:100%;
}
.new-room-button:hover{
  background-color:white;
  border: 0.5px solid #99ddff;
  color:#99ddff;
}

.new-room-button p:hover{
  color:#99ddff;
}
/* List of Rooms */
.room-wrapper{
  padding:1rem;
  vertical-align: middle;
  margin:0.5rem;
  height:2rem;
  background-color:white;
}

.room-icon {
  display:inline-block;
  border:0.5px solid black;
  background-color:white;
  border-radius:50%;
  width: 1rem;
  height: 1rem;
  margin:1.5rem 0 0.5rem 0;
  float:left;
}

/* Messages */
.messages {
  position: absolute;
  top: 1rem;
  left:27rem;
  float:right;
  width:78%;
  height:100%;
  z-index: 1;
  overflow: scroll;
  /*margin-left: 2rem;*/
  border-style: none;
}

.messages-body{
  padding-left:3rem;
  padding-right:3rem;
  padding-top:1rem;
  padding-bottom:1rem;
  background:transparent;
  width:100%;
}

.messages-header h3{
  margin-left:1rem;
  display:inline-block;
  width:80%;
  color:white;
  background-color: none;
  text-align:left;
  text-decoration: underline;
}

.messages-body .username{
  font-weight:400;
  font-size:1.5rem;
  color:white;
}

.messages-body .timestamp{
  font-weight:300;
  font-style:italic;
  font-size:1rem;
  padding-left:0.5rem;
  float:right;
  color:white;
}

.messages-body .username .timestamp{
  display:inline-block;
}

.messages-body .user-message{
  font-weight:300;
  font-size:2rem;
  color:white;
}

.message-box{
  width:85%;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom:3rem;
  position:relative;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid white;
  outline:none;
  background:transparent;
}

.send-message-hr{
  border-top: 1px dashed white;
  width:94%;
}

/* Message Box Placeholder Styling */
::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color:white;
  font-weight: 300;
}

::-moz-placeholder{ /* Firefox 19+ */
  color:white;
  font-weight: 300;
}

:-ms-input-placeholder{ /* IE 10+ */
  color:white;
  font-weight: 300;
}

:-moz-placeholder{/* Firefox 18- */
  color:white;
  font-weight: 300;
}

/* Message Box Send Button */
.btn-new-message{
  font-size:1.2rem;
  font-weight:300;
  letter-spacing: 0.5rem;
  outline:none;
  background:transparent;
  color:white;
  border:none;
}

.btn-new-message:hover{
  border-bottom: 1px solid white;
}

/* Login page*/

.modal-title{
  font-weight:300;
  text-align: center;
}

.modal-prompt{
  text-align:center;
}

.modal-body p{
  font-style:italic;
  font-size:1rem;
  margin:1rem 1rem 0 1rem;
}

.username-input{
  outline:none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  width:90%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-footer .btn-new{
  border-style:none;
  font-weight:300;
  font-size:1.5rem;
  cursor:pointer;
  width:100%;
  background-color:transparent;
}

.modal-footer:hover, .modal-footer .btn-new:hover{
  background-color:#6C5B7B;
  color:white;
  border-radius:0 0 0.4em 0.4em;
}
