<div class="side-bar">
  <h1>BLOC CHAT</h1>
  <div class="button-wrapper">
    <span class="new-room-button" type="button" ng-click="home.addRoom()" style="cursor:pointer"><p>+ &nbsp;New Room</p></span>
  </div>
  <div ng-repeat="room in home.rooms">
    <div class="room-wrapper">
      <div class="room-icon" style="cursor:pointer"></div>
      <h3 class="room-name" ng-click="home.setCurrentRoom(room)" style="cursor:pointer">{{ room.name }}</h3>
    </div>
  </div>
</div>

  <div class="messages">
       <div class="messages-header">
         <h3>{{ home.currentRoom.name }}</h3>
      </div>

      <div class="messages-body" ng-repeat="message in home.messages">
        <div class="username">{{ message.username }} </div>
        <div class="timestamp">{{ message.sentAt | date : "MMM-dd h:mma"}} </div>
        <div class="user-message">{{ message.content }} </div>
      </div>
      <hr class="send-message-hr">
      <div class="message-field">
          <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="home.newMessage.content">
        <button class="btn-new-message" type="button" ng-click="home.sendMessage()">SEND</button>
      </div>
</div>
