<div class="w3-sidebar w3-bar-block w3-collapse w3-card-2" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none" onclick="w3_close()">&times;</button>
  <h1>Bloc Chat</h1>

  <div class="signed-in-user"> <h3>Signed in as {{ home.currentUser }}<h3></div>

  <div class="new-room-button" ng-click="home.addRoom()" style="cursor:pointer"><p>+ &nbsp;New Room</p></div>

  <div class="room-name" ng-repeat="room in home.rooms" ng-click="home.setCurrentRoom(room)" style="cursor:pointer">
      <h3 >{{ room.name }}</h3>
  </div>

  <div class="logout" ng-click="home.Logout()"style="cursor:pointer"><p>< &nbsp;Logout</p></div>
</div>

<div class="w3-transparent">
  <button class="w3-button w3-transparent w3-xlarge w3-hide-large w3-hover-none" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Bloc Chat</h1>
  </div>
</div>

  <div class="messages" class="w3-container">
       <div class="messages-header">
         <h3>{{ home.currentRoom.name }}</h3>
      </div>

      <div class="messages-body" ng-repeat="message in home.messages" id="message-window" scroll-glue>
        <div class="username">{{ message.username }} </div>
        <div class="timestamp">{{ message.sentAt | date : "MMM-dd h:mma"}} </div>
        <div class="user-message"><p>{{ message.content }}</p> </div>
      </div>


    <div class="message-field">
      <form ng-submit="sendMessage()">
        <hr class="send-message-hr">
          <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-keyup="($event.charCode==13)? sendMessage(currentRoom) : return" ng-change="scrollBottom()" ng-model="home.newMessage.content" autocomplete="off">
        <button class="btn-new-message" type="submit" ng-click="home.sendMessage()">SEND</button>
      </form>
    </div>
</div>
