<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Create Account</h4>
    </div>
  <div class="modal-body">
    <form name="NewAccount">
        <div class="auth-entry">
            <label class="label-name">Username: </label>
            <input class="input-field" type="text" ng-model="new.username" name="username" placeholder="Required" required>
        </div>
        <div class="auth-entry">
            <label class="label-name">Email adddress: </label>
            <input class="input-field" type="email" ng-model="new.email" name="email" placeholder="Required" required>
        </div>
        <div class="auth-entry">
            <label class="label-name">Password: </label>
            <input class="input-field" type="password" ng-model="new.password" name="password" placeholder="Minimum six characters" ng-keypress="($event.charCode==13)? new.validUser(NewAccount.$valid) : return" required>
        </div>
        <div class="auth-entry">
            <label class="label-name">Confirm Password: </label>
            <input class="input-field" type="password" ng-model="new.confirmPassword" name="confirmPassword" placeholder="Minimum six characters" ng-keypress="($event.charCode==13)? new.validUser(NewAccount.$valid) : return" required>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <div>
        <button class="user-submit" type="button" ng-click="new.validUser(NewAccount.$valid)">Submit</button>
    </div>
  </div>
</div>
