<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Sign In</h4>
    </div>
  <div class="modal-body">
    <form name="SignIn">
        <div class="auth-entry">
            <label class="label-name">Email adddress:</label>
                <input class="input-field" type="email" ng-model="user.email" name="email" placeholder="Email" required>
        </div>
        <div class="auth-entry">
            <label class="label-name">Password: </label>
            <input class="input-field" type="password" ng-model="user.password" name="password" placeholder="password" ng-keypress="($event.charCode==13)? user.validUser(SignIn.$valid) : return" required>
        </div>
    </form>
  </div>
  <div class="modal-footer">
      <div>
        <button class="user-submit" type="button" ng-click="user.validUser(SignIn.$valid)">Enter</button>
      </div>
      <div>
        <button class="user-create" type="button" ng-click="user.newAccount()">Create Account</button>
      </div>
  </div>
</div>
